@page "/clientes"
@inject IGenericService<Cliente> _serviceCliente
@inject IGenericService<Usuario> _serviceUsuario

<PageTitle>Clientes</PageTitle>

<h1>Clientes!</h1>

@if (clientes == null)
{
    <p><em>Cargando los clientes...</em></p>
}
else if (!clientes.Any())
{
    <p><em>No hay clientes disponibles.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>DNI</th>
                <th>Tipo de Usuario</th>
                <th>Instagram</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cli in clientes)
            {
                <tr>
                    <td>@cli?.Usuario?.Nombre</td>
                    <td>@cli?.Usuario?.Email</td>
                    <td>@cli?.Usuario?.DNI</td>
                    <td>@cli?.Usuario?.TipoUsuario</td>
                    <td>@cli?.Instagram</td>
                    <td>@cli?.Telefono</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Cliente>? clientes;
    private List<Usuario>? usuarios;

    protected override async Task OnInitializedAsync()
    {
        clientes = (await _serviceCliente.GetAllAsync(null))?.ToList();
        usuarios = (await _serviceUsuario.GetAllAsync(null))?.ToList();
    }
}
