@page "/login"
@inject FirebaseAuthService _firebaseAuthService
@inject SweetAlertService sweetAlert
@inject NavigationManager NavigationManager
@inject AuthStateService AuthStateService

@if (!isAuthenticated)
{
    <div class="card text-center">
        <div class="card-header">
            Iniciar sesión
        </div>
        <div class="card-body">
            <h3 class="card-title">¡Bienvenido!</h3>
            <p class="card-text">Por favor, inicia sesión para continuar en Fidelium...</p>
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <label class="form-label me-2">Correo Electrónico</label>
                        <InputText class="form-control w-50" @bind-Value="email" placeholder="usuario@gmail.com" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <label class="form-label me-2">Contraseña</label>
                        <InputText class="form-control w-50" @bind-Value="password" placeholder="Contraseña" type="password" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button class="btn btn-primary" @onclick="Loguear">Acceder</button>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <button class="btn btn-secondary" @onclick="IrARegistro">Registrarme</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            Fidelium &copy; 2025
        </div>
    </div>
}
else
{
    <div class="card text-center">
        <div class="card-header">
            Cerrar sesión
        </div>
        <div class="card-body">
            <p class="card-header">Cerrar sesión de Fidelium</p>
            <button class="btn btn-primary" @onclick="Desloguear">Cerrar sesión</button>
        </div>
        <div class="card-footer text-body-secondary">
            Fidelium &copy; 2025
        </div>
    </div>
}

@code {
    private bool isAuthenticated = false;
    private string email = string.Empty;
    private string password = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await _firebaseAuthService.IsUserAuthenticated();
    }

    private async Task Loguear()
    {
        var user = await _firebaseAuthService.SignInWithEmailPassword(email, password);
        if (user != null && user.EmailVerified)
        {
            AuthStateService.SetAuthenticationState(true); // Actualiza el estado global
            isAuthenticated = true; // Actualiza la variable local
            StateHasChanged();
            NavigationManager.NavigateTo("/clientes");
        }
        else
        {
            AuthStateService.SetAuthenticationState(false); // Actualiza el estado global
            isAuthenticated = false; // Actualiza la variable local
            await sweetAlert.FireAsync("Error de autenticación", "Correo o contraseña incorrectos.", SweetAlertIcon.Error);
        }
    }

    private async Task Desloguear()
    {
        isAuthenticated = false;
        email = string.Empty;
        password = string.Empty;
        await _firebaseAuthService.SignOut();
        AuthStateService.SetAuthenticationState(false); // Actualiza el estado global
        StateHasChanged();
        NavigationManager.NavigateTo("/");
    }

    private void IrARegistro()
    {
        NavigationManager.NavigateTo("/registro");
    }
}